/* body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40vh;
        background: linear-gradient(45deg, #fbda61, #ff5acd); 
    } */
.helcardlo{
    margin-top: 50px;
    position: relative;
    width: auto;
    /* height: 450px; */
    height: 190px;
    background: #fff;
    border-radius: 20px;
    /* box-shadow: 0 35px 80px rgba(0,0,0,0.15); */
    transition: 0.5s;
}
.helcardlo:hover{
    height: 400px;
}
.imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    /* box-shadow: 0 15px 50px rgba(0,0,0,0.35); */
    overflow: hidden;
    transition: 0.5s;
}
.helcardlo:hover .imgBx{
    width: 250px;
    height: 250px;
}
.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.helcardlo .helcontentlo{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.helcardlo .helcontentlo .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}
.helcardlo:hover .helcontentlo .details{
    transform: translateY(0px);
    padding: 15px 40px;

}

.helcardlo .helcontentlo .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}
.helcardlo .helcontentlo .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}
.helcardlo .helcontentlo .details .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.helcardlo .helcontentlo .details .data h3 span{
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}
.helcardlo .helcontentlo .details .actionBtn{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
}
.helcardlo .helcontentlo .details .actionBtn button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #ff5acd;
    color: #fff;
    cursor: pointer;
}
.helcardlo .helcontentlo .details .actionBtn button:nth-child(2){
    border: 1px solid #999;
    color: #999;
    background: #fff;
}

